.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  z-index: 0;
  overflow: hidden;
}

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header__title {
  max-width: 730px;
  margin: auto 0;
  margin-left: 64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  z-index: 1;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  margin: 0;
  z-index: 1;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  right: 0;
  top: 64px;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  background-size: cover;
  z-index: -1;
}

/* DESCRIPTION */

.description {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
  min-height: 200px;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph {
  margin-top: 0;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

/*DIGITS*/
.digits {
  margin-bottom: 100px;
}

.section-title {
  text-align: center;
  width: 60%;
  margin: 0 auto 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

.table__cell:nth-child(4n) {
  margin-right: 0;
}

.table__heading {
  margin: 0;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text:first-of-type {
  margin-bottom: 20px;
}

.table__text:last-of-type {
  margin-bottom: 0;
}

/*FEYNMAN*/
.feynman {
  position: relative;
  height: 890px;
  padding-top: 100px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 867px 637px;
}

.feynman__title {
  margin: 0 auto;
  text-align: center;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  margin: 70px auto 0;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

/*KAUFMAN*/
.kaufman {
  position: relative;
  padding: 90px 0;
  margin: 0 auto;
  background-color: #1f1f1f;
  overflow: hidden;
  z-index: 0;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  z-index: 1;
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;
  background-image: url("../images/kaufman-triangle.svg");
  background-size: cover;
  z-index: -1;
}

/*FOOTER*/
.footer {
  display: flex;
  justify-content: center;
  min-height: 350px;
  color: white;
  background-color: #1f1f1f;
  padding: 60px 0 40px;
  box-sizing: border-box;
}

.footer__columns {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-links {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}

.footer__column-heading {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}